.championContainer {
  display: flex;
  justify-content: space-between;
}

.championLeftPanel {
  flex: 1;
  padding: 20px;
}

.championInput {
  padding: 10px;
  width: 35%; /* Szerokość input boxa na championa */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black; /* Kolor tekstu */
}

.championGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.championCheckboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Stylizowanie głównych checkboxów */
.mainCheckbox {
  background-color: #726969; /* Jasne tło */
  border: 2px solid #4CAF50; /* Zielona ramka */
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  width: 90%;
}

/* Stylizowanie custom filter checkboxów */
.championFilterRow {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

/* Stylizacja select oraz option */
.championFilterSelect {
  margin-left: 10px;
  color: black; /* Kolor czcionki w select */
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Stylizacja dla opcji w dropdown */
.championFilterSelect option {
  color: black; /* Kolor czcionki w opcjach dropdownu */
}

.championFilterInput {
  margin-left: 10px;
  padding: 5px;
  width: 120px; /* Zwiększona szerokość input boxów */
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.championButton {
  margin-top: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.championButton:hover {
  background-color: #45a049;
}

.resultsTable {
  width: 100%;
  border-collapse: collapse;
}

.resultsTable th, .resultsTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.resultsTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Popup */
.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Przezroczyste tło za popupem */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background-color: rgb(136, 199, 125); /* Kolor tła */
  padding: 50px; /* Duży padding */
  border-radius: 10px;
  max-width: 90vw; /* Popup może zajmować 90% szerokości ekranu */
  width: 75vw; /* Ustawienie szerokości na 75% */
  height: 90vh; /* Popup może zajmować 75% wysokości ekranu */
  overflow-y: auto; /* Scroll dla dużych treści */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Większy cień */
  position: relative;
  color: black; /* Czarny kolor czcionki */
  font-size: 1.2rem; /* Większy rozmiar czcionki */
}


/* Close Button */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: red;
  width: 30px;
  height: 30px;
  color: white;
}

.statsAndFilters {
  display: flex;
  justify-content: space-between; /* Oddziela statystyki i filtry */
}

.statsGrid {
  flex: 2; /* Zajmuje większość lewej strony */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Odstępy między poszczególnymi statystykami */
}

.statBox {
  background-color: #ffffff; /* Tło dla każdej statystyki */
  border: 2px solid black; /* Czarna ramka */
  border-radius: 5px; /* Zaokrąglone rogi */
  padding: 6px; /* Zmniejszenie paddingu dla statystyki */
  display: flex;
  align-items: center;
  width: 75%;
}

.statBox span {
  color: black;
}

.statIcon {
  width: 40px; /* Ikonki */
  height: 40px;
  margin-right: 10px;
  object-fit: contain;
}

.filtersContainer {
  flex: 1; /* Mniejsza szerokość po prawej stronie */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ustawia zawartość u góry */
  padding-left: 20px;
}

.matchesCount {
  text-align: right; /* Licznik meczów wyrównany do prawej */
  margin-bottom: 10px;
}

.matchesCount strong{
 font-size: larger;
}

.matchesWithFilters {
  margin-top: 5px;
  color: #333;
}

.matchesWithFilters strong{
 font-size: larger;
}

.appliedFilters {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.appliedFilters h3 {
  margin-bottom: 10px;
  color: #333;
}

.filterBox {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px; /* Odstęp między filtrami */
  color: black;
}

.filterBox strong{
  color: black;
}

.separatorLine {
  border: none;
  border-top: 2px solid #ccc; /* Cienka linia w subtelnym szarym kolorze */
  margin: 10px 0; /* Odstęp nad i pod linią */
  width: 100%; /* Linia zajmuje całą szerokość elementu */
}
