.matchContainer {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-width: 4px;
  border-style: solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.matchContainer.win {
  border-color: #5383E8;
}

.matchContainer.loss {
  border-color: #E84057;
}

.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 10px;
  color: #000;
  padding-left: 50px;
}

.type {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

.timeAgo {
  font-size: 14px;
  color: #000;
}

.divider {
  width: 100%;
  border: 0;
  border-top: 1px solid grey;
  margin: 10px 0;
}

.result {
  font-weight: bold;
  font-size: 16px;
  color: #666;
}

.gameDuration {
  font-size: 14px;
  color: #666;
}

.centerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: #000;
}

.championInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.championIcon {
  width: 60px;
  height: 60px;
}

.spellsAndRunes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spells,
.runes {
  display: flex;
  gap: 10px;
}

.spellIcon,
.runeIcon {
  width: 30px;
  height: 30px;
}

.kdaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kda {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.kda span {
  font-size: 18px;
}

.kda .kills {
  color: #000;
}

.kda .deaths {
  color: #E84057;
}

.kda .assists {
  color: #000;
}

.kda .separator {
  color: grey;
}

.kdaRatio {
  font-size: 18px;
  color: #000;
  margin-top: 0;
}

.items {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.itemIcon {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.emptySlot {
  width: 40px;
  height: 40px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px; /* Ustawienie stałej szerokości dla prawej sekcji */
}

.teamInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.teamColumn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start; /* Wyrównanie ikon do lewej */
}

.player {
  display: flex;
  align-items: center;
}

.playerIcon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.playerName {
  font-size: 12px;
  color: #666;
  white-space: nowrap; /* Zapobiega zawijaniu tekstu */
}


/* Komunikat dla danego gracza */
.player {
  position: relative;
  cursor: pointer; /* Dodanie kursora wskaźnika dla całego elementu */
}

.playerName {
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  cursor: pointer; /* Dodanie kursora wskaźnika dla nazwy gracza */
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 10;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}