/* .notFound {
    margin: 0;
    padding: 20px;
    font-family: "Poppins";
    background: var(--secondary);
}

.notFound * {
    color: #fff;
    margin: 0;
}

.paragraph {
    margin: 20px 0;
} */