.container {
    display: flex;
    justify-content: flex-start; /* Align items closer together */
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #ffffff; /* Background color for the entire container */
    border-radius: 8px;
}

.profileIcon {
    margin-right: 10px; /* Decrease the space between profile and rank icons */
    font-family: "Poppins";
    flex-shrink: 0; /* Prevent shrinking */
    margin-left: 10px;
}

.profileIcon * {
    color: #fff;
    margin: 0;
}

.imgTextWrapper {
    position: relative;
    display: flex; /* Flexbox for horizontal alignment */
    align-items: center;
    justify-content: center; /* Center content */
}

.summonerName {
    display: inline-block;
    background-color: yellowgreen;
    position: absolute;
    left: 100px; /* Adjust as needed */
    top: 5%;
}

.textOnImage {
    position: absolute;
    border-radius: 15px;
    bottom: -3.5%;
    background-color: #313a35;
    color: white;
    width: auto;
    text-align: center;
    padding-inline: 10px;
    margin: 0 auto;
    left: 21px;
} 

.imageStyle {
    width: 80px; /* Adjusted size */
    height: 80px;
    border-radius: 15%;
    text-align: center;
}

/* inactive css styles */
.summonerName {
    display: inline-block;
    background-color: yellowgreen;
    position: absolute;
    left: 100px; /* Adjust as needed */
    top: 5%;
}