
  .rootLayout {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}

.rootLayout * {
  color: #fff;
  margin: 0;
}  

.btnLogout {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: rgb(208, 133, 35);
  cursor: pointer;
  font-family: "Poppins";
}

/* .headerNav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}

.headerTitle {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}

.navLink {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

.navLinkActive {
  background: var(--primary);
}

.mainContent {
  max-width: 1200px;
  margin: 40px auto;
} */

