@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4124;
  --secondary: #2b3452;
}

* {
  color: #fff;
  margin: 0;
} 

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  background: var(--secondary);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.paragraph {
  margin: 20px 0;
}

.btn-contact {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
} 

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
  background: var(--secondary); /* Dodanie tła do głównego kontenera */
  flex: 1; /* Aby zajmować pozostałą przestrzeń */
} 

/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.help-layout nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.help-layout nav a:hover{
  border-color: var(--primary);
}
.help-layout nav a.active {
  background: var(--primary);
}

/* faq */
.question {
  background: rgba(0,0,0,0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
.contact-form {
  margin-top: 30px;
}
.contact-form input, .contact-form label span, .contact-form textarea {
  display: block;
}
.contact-form input, .contact-form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
.contact-form label span {
  margin-bottom: 10px;
}

/* logo */
.logo {
  text-align: center;
}
